* {
  margin: 0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  height: 140px;
  width: 100%;
  background: #E5DEEB;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  flex-wrap: wrap;
  
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #333333;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 25px;
  
}





.heroImg {
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 20px;
    background-color: #E5DEEB;
    height: 700px;
    justify-content: space-between;
    
}
.heroImg > div {
   
    text-align: left;
    width: 600px;
   margin-block-start: 50px;
    
  }
.heroImg h1{
   font-family: 'Barlow Semi Condensed', sans-serif;
   font-size: 50px;
   font-weight: bold;
}
.heroImg h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
 }
 .heroImg p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    
 }
 .content button{
    align-content: center;
 }
.content {
    width: 200px;
    margin: 50px;
}
.photo {
  
    margin: -50px;
}
footer {
    background-color: #E5DEEB;
    padding: 5%;
    margin: auto;
    text-align: center;
}
footer h3 {
    font-size: 36px;
    font-family: 'Barlow', sans-serif;
}
footer ul {
        display: inline-block;
        vertical-align: top ;
        padding: 10px;
       
}
footer li {
    display: inline-block;
    padding: 10px;
    align-content: center;
  }

  footer p{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;

  }
  .mySkills h1 {
    font-family: 'Barlow', sans-serif, bold;
    text-align: center;
    font-size:30px;

  }
  
 
  .flexContainer {
    display: flex;
    background-color: #ffffff;
    
  }
  .flexContainer div {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
    text-align: center;
    width: 50%;
    margin: 50px;
    padding: 20px;
    font-size:24px;
    
  }
  
  .myWork h1 {
    font-family: 'Barlow', sans-serif, bold;
    text-align: center;
    font-size:36px;
  }
  .myWork {
    background-color: #E5DEEB;
    padding: 2%;
    margin: auto;

  }

  .workGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .workGrid > div {
    align-content: center;
    text-align: center;
    width: 500px;
    padding: 50px 50px;
    font-size: 30px;
    font-family: 'Barlow', sans-serif,;
  }
  .myWork h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333333;
  }
  

  .myWork p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: left;
  }

  button {
    background-color: #F2F2F2;
    border: none;
    color: #333333;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Barlow', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
 
@media screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
    padding: auto;
    width: auto;
    align-items: center;
    text-align: center;
  }
  .heroImg {
    grid-template-columns: auto;
   grid-template-rows: auto;
   height:max-content;
   padding: 100px;
  
   grid-template-areas:
   "photo"
   "content"
   ;
  }
  .heroImg div {
   align-content: left;
  width: 90%
  }
  
  .workGrid {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   grid-template-areas:
   "img1"
   "content1"
   "img2"
   "content2"
   "img3"
   "content3"
   "img4"
   "content4"
   ;
  }
}